<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Report card</title>
</head>
<body>
  <div id="app">
    <div class="no-print">
      <div class="container">
        <div class="report-selection-menu">
          <div class="report-selection-menu-item">
            <span>Select term:</span>
            <select name="terms" @change="termOnChange($event)">
              <option v-for="term in terms" :value="term" :key="term">{{term}}</option>
            </select>
          </div>
          <div class="report-selection-menu-item">
            <span>Select grade:</span>
            <select name="grades" @change="gradeOnChange($event)">
              <option v-for="grade in grades" :value="grade" :key="grade">{{grade}}</option>
            </select> 
          </div>
          <div class="report-selection-menu-item">
            <span>Select class:</span>
            <!-- <select name="gradeLetters" @change="gradeLetterOnChange($event)">
              <option v-for="gradLetter in gradeLetters" :value="gradeLetter" :key="gradeLetter">{{gradeLetter}}</option>
            </select>  -->
          </div>
        </div>
      </div>
    </div>
    <div v-for="student in studentsData" class="wrapper">
      <div class="header">
        <div class="container">
          <div class="school-name mb-10">
            <div class="school-name-background">
              <img v-bind:src="'uwis-logo.jpg'" alt="UWIS school logo">
            </div>
            <div class="school-name-item">
              <div class="school-name-item-level-1"><span>Международная школа</span></div>
              <div class="school-name-item-level-1"><span>&laquo;Юнайтед Ворлд Интернэшнл Скул&raquo;</span></div>
              <div class="school-name-item-level-2"><span>&#40;Аккредитованные программы Cambridge Assessment</span></div>
              <div class="school-name-item-level-2"><span>и Advanced Placement&#41;</span></div>
            </div>
            <div class="school-name-item">
              <div class="school-name-item-level-1"><span>World International School</span></div>
              <div class="school-name-item-level-2"><span>&#40;Cambridge Assessment</span></div>
              <div class="school-name-item-level-2"><span>and AP Accredited Programs&#41;</span></div>
            </div>
          </div>
          <div class="school-header-info">
            <div class="school-header-info-bank">
              <div class="school-header-info-bank-item"><span>Инн&#58; 02705201910356</span></div>
              <div class="school-header-info-bank-item"><span>ОКПО&#58; 30404367</span></div>
              <div class="school-header-info-bank-item"><span>Код ГНИ&#58; 001 Октябрьский</span></div>
              <div class="school-header-info-bank-item"><span>Соц.Фонд&#58; 104100013276</span></div>
              <div class="school-header-info-bank-item"><span>Банк&#58; ОАО 	&ldquo;Оптима Банк&rdquo;</span></div>
              <div class="school-header-info-bank-item"><span>р&#47;с&#58; 1090805952270150</span></div>
              <div class="school-header-info-bank-item"><span>Бик&#58; 109008</span></div>
            </div>
            <div class="school-header-info-contacts">
              <div class="school-header-info-contacts-item"><span>Адрес&#58; г. Бишкек, ул. А.Масалиева 26, 720016</span></div>
              <div class="school-header-info-contacts-item"><span>Телефоны&#58; +996 &#40;312&#41; 884129, +996 &#40;551&#41; 932222</span></div>
              <div class="school-header-info-contacts-item"><span>www.uwis.edu.kg</span></div>
              <div class="school-header-info-contacts-item"><span>info@uwis.edu.kg</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="content mb-120">
        <div class="container">
          <div class="report-card-title mt-40 mb-60">
            <h1>Student's report card</h1>
          </div>
          <div class="report-card-wrapper">
            <div class="report-card-background">
              <img v-bind:src="'uwis-logo.jpg'" alt="UWIS school logo">
            </div>
            <div class="report-card-student-info">
              <div class="report-card-student-fullname mb-20">{{student.Fullname}}</div>
              <div class="report-card-student-details mb-10">
                <div class="report-card-student-details-item">Class: {{student.Class}}</div>
                <div class="report-card-student-details-item">-</div>
                <div class="report-card-student-details-item">Term: {{student.Term}}</div>
                <div class="report-card-student-details-item">-</div>
                <div class="report-card-student-details-item">School year: {{student.Year}}</div>
                <div class="report-card-student-details-item">-</div>
                <div class="report-card-student-details-item">{{today}}</div>
              </div>
              <div class="report-card-student-absences mb-20">
                <span>Total absent hours: {{student.U}}</span>
              </div>
              <div class="report-card-student-report mb-30">
                <table class="mt-10" border="1">
                  <caption class="report-card-student-gpa mb-10">GPA: {{student.Avg}}</caption>
                  <thead>
                    <td class="table-header table-header-subject">Subject</td>
                    <td class="table-header">Weight</td>
                    <td class="table-header" colspan="2">Average</td>
                  </thead>
                  <tbody class="table-body" v-for="mark, subject in getStudentSubject(student)">
                    <td class="table-body-subject" v-if="mark != '0'">{{getSubjectNameLong(subject)}}</td>
                    <td class="table-body-weight" v-if="mark != '0'">{{getSubjectCredit(subject)}}</td>
                    <td class="table-body-mark" v-if="mark != '0'">{{mark}}</td>
                    <td class="table-body-letter" v-if="mark != '0'">{{getLetterGrade(mark)}}</td>
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
            </div>
          </div>
          <div class="report-card-grading">
            <div class="report-card-grading-item"><span>Grading Criteria:</span></div>
            <div class="report-card-grading-item"><span>+90</span></div>
            <div class="report-card-grading-item"><span>(A*),</span></div>
            <div class="report-card-grading-item"><span>+80</span></div>
            <div class="report-card-grading-item"><span>(A),</span></div>
            <div class="report-card-grading-item"><span>+70</span></div>
            <div class="report-card-grading-item"><span>(B),</span></div>
            <div class="report-card-grading-item"><span>+60</span></div>
            <div class="report-card-grading-item"><span>(C),</span></div>
            <div class="report-card-grading-item"><span>+50</span></div>
            <div class="report-card-grading-item"><span>(D),</span></div>
            <div class="report-card-grading-item"><span>+40</span></div>
            <div class="report-card-grading-item"><span>(E),</span></div>
            <div class="report-card-grading-item"><span>+30</span></div>
            <div class="report-card-grading-item"><span>(F),</span></div>
            <div class="report-card-grading-item"><span>+20</span></div>
            <div class="report-card-grading-item"><span>(G)</span></div>
          </div>
          <div class="report-card-signatures mt-30">
            <div class="report-card-signature-item"><span>Coordinator :</span></div>
            <div class="report-card-signature-item"><span>School Principal :</span></div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="footer-logos">
            <div class="cambridge-logo">
              <img src="cambridge.jpg" alt="Cambridge Assessment International Education">
            </div>
            <div class="ap-logo">
              <img src="ap.jpg" alt="Advanced Placement">
            </div>
          </div>
        </div>
      </div>
      <div class="page-break"></div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>