html, body, * {
  margin: 0;
  padding: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-140 {
  margin-bottom: 140px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-60 {
  margin-top: 60px;
}
.container {
  display: block;
  max-width: 900px;
  margin: 0 auto;
}
.report-selection-menu {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 75%;
  margin: 0 auto;
}
.report-selection-menu-item {
  width: 140px;
  padding-top: 20px;
}
.school-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.school-name-item {
  position: relative;
  text-align: center;
}
.school-name-item {
  width: 45%;
}
.school-name-item-level-1 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.school-name-item-level-2 {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  letter-spacing: -1px;
  color: red;
}
.school-header-info {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 0.1em dashed;
  border-bottom: 0.1em dashed;
  font-size: 8px;
  padding: 3px 7%;
}
.school-header-info-bank {
  display: flex;
  justify-content: space-around;
}
.school-header-info-contacts {
  display: flex;
  justify-content: space-around;
}
.report-card-title {
  text-transform: uppercase;
  text-align: center;
  color: red;
}
h1 {
  font-family: Courier, monospace;
  font-weight: bold;
  font-size: 2.5rem;
}
.report-card-wrapper {
  position: relative;
}
.school-name-background {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  z-index: -10;  
}
.school-name-background img {
  display: block;
  width: 100%;
}
.report-card-background {
  margin-top: -30px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  opacity: 0.2;
  z-index: -10;
}
.report-card-background img {
  display: block;
  width: 100%;
}

.report-card-student-fullname {
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  
}
.report-card-student-details {
  padding: 0 20%;
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
}
.report-card-student-absences {
  display: flex;
  justify-content: center;
}
.report-card-student-absences span {
  font-style: italic;
}
.report-card-student-gpa {
  text-align: right;
  font-size: 25px;
  font-weight: bolder;
  color: red;

}
.report-card-student-report {
  padding: 0 15%;
}
.report-card-student-report table {
  font-family: 'Courier New', Courier, monospace;
}
.report-card-student-report .table-header{
  font-weight: bold;
  background-color: lightblue;
}
.report-card-student-report .table-body-subject {
  padding-left: 5px;
}
.report-card-student-report table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 90%;
}
.table-header, .table-body-mark, .table-body-weight{
  text-align: center;
}
.table-body-letter {
  padding-left: 7px;
}
.table-body-subject {
  width: 60%;
}
.report-card-grading {
  padding: 0 10%;
  display: flex;
  justify-content: space-around;
}
.report-card-grading .report-card-grading-item {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}
.report-card-signatures {
  padding: 0 15%;
  display: flex;
  justify-content: space-between;
}
.report-card-signatures .report-card-signature-item {
  font-family: 'Courier New', Courier, monospace;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-logos {
  display: flex;
  justify-content: space-between;
  padding: 10px 35%;
  border-top: 0.05em dashed;
}
.footer-logos img{
  display: block;
  width: 100%;
  opacity: .5;
}
.footer-logos .cambridge-logo {
  width: 150px;
}
.footer-logos .ap-logo {
  width: 55px;
}
.wrapper {
  position: relative;
  height: 1000px;
}
@media print {
  .page-break {page-break-after: always;}
  .no-print, .no-print * { display: none !important;}
}